
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Username goes here</title>
</head>
<body>
    <!-- <nav class="nav__wrapper">
        <ul class="user">
            <li><img src="./assets/abstract-user-flat-1.svg" alt=""></li>
            <li>hello</li>

        </ul>
    </nav> -->
    <div class="container">
        <div class="month__header">
            <a class="calendar__arrow" id="left-arrow"><img src="../assets/icons8-left-arrow-simple-small/icons8-left-arrow-32.png" alt="left-button"></a>
            <span id="month__name"></span>
            <a class="calendar__arrow" id="right-arrow"><img src="../assets/icons8-right-arrow-simple-small/icons8-right-arrow-32.png" alt="right-button"></a>
        </div>
        <div class="month__dates--wrapper">
            <table class="weekdays__wrapper">
                <tr class="weekday__names">
                    <td>Sun</td>
                    <td>Mon</td>
                    <td>Tue</td>
                    <td>Wed</td>
                    <td>Th</td>
                    <td>Fri</td>
                    <td>Sat</td>
                </tr>
            </table>
        </div>
    </div>
    <script src="../js/home.js"></script>
</body>
</html>